body, html {
  height: 100%;
}

.vCurbside-header {
  background-image: url('Virtual_Curbside.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vCurbside-header-text {
  font-family: Oswald;
  color: white;
  font-size: 22px;
  text-transform: uppercase;

}
